body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

.container {
    position: relative;
    width: 100%;
    max-width: 600px;
}

.gif-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-height: 90vh;
    text-align: center;
    z-index: 2;
    pointer-events: none;
}

.black-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: 1;
}

.input-container {
    position: absolute;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    text-align: center;
    color: white;
    width: 50%;
    max-width: 400px;
    padding: 20px;
    box-sizing: border-box;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

h1 {
    font-size: 80px;
    margin-bottom: 120px;
}

/* ... restul stilurilor ... */

#weatherInfo {
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    font-size: 50px;
    white-space: pre-line; /* Afișează linii noi (newline) */
}